In [1]:
import pandas as pd

In [2]:
adams = pd.read_csv('../data/CFB_adams.csv')
lander = pd.read_csv('../data/CFB_lander.csv')
mamdani = pd.read_csv('../data/CFB_mamdani.csv')
myrie = pd.read_csv('../data/CFB_myrie.csv')
ramos = pd.read_csv('../data/CFB_ramos.csv')
stringer = pd.read_csv('../data/CFB_stringer.csv')

In [3]:
all_candidates = pd.concat([ adams, lander, mamdani, myrie, ramos, stringer ])
print(len(all_candidates))

21752

In [4]:
all_candidates.head()

,ELECTION,OFFICECD,RECIPID,CANCLASS,RECIPNAME,COMMITTEE,FILING,SCHEDULE,PAGENO,SEQUENCENO,...,INTEMPSTNM,INTEMPCITY,INTEMPST,INTOCCUPA,PURPOSECD,EXEMPTCD,ADJTYPECD,RR_IND,SEG_IND,INT_C_CODE
0,2025,1,1545,P,"Adams, Eric L",N,6,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
1,2025,1,1545,P,"Adams, Eric L",N,7,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
2,2025,1,1545,P,"Adams, Eric L",N,6,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
3,2025,1,1545,P,"Adams, Eric L",N,6,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
4,2025,1,1545,P,"Adams, Eric L",N,6,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN

In [5]:
all_candidates = all_candidates [['RECIPNAME', 'DATE', 'REFUNDDATE', 'NAME', 'CITY', 'STATE', 'ZIP', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME', 'EMPCITY', 'EMPSTATE', 'AMNT', 'MATCHAMNT']]

In [6]:
all_candidates.head()

,RECIPNAME,DATE,REFUNDDATE,NAME,CITY,STATE,ZIP,OCCUPATION,EMPNAME,EMPSTRNO,EMPSTRNAME,EMPCITY,EMPSTATE,AMNT,MATCHAMNT
0,"Adams, Eric L",8/29/2024,NaN,"Abduganiev, Maksudjon",Brooklyn,NY,11229,Dispatcher,Dispatch Limo Seven Transporta,653,E 5th Street,Brooklyn,NY,250.0,250.0
1,"Adams, Eric L",1/8/2025,NaN,"Abrahimi, Farhad",Hicksville,NY,11801,Business,Self-Employed,9,West Marie Street,Hicksville,NY,500.0,0.0
2,"Adams, Eric L",8/11/2024,NaN,"Acevedo, Isaac",Staten Island,NY,10303,Not Employed,Not Employed,NaN,NaN,NaN,NaN,250.0,250.0
3,"Adams, Eric L",8/14/2024,NaN,"Acevedo, Melissa",Staten Island,NY,10303,RN,Richmond Univeristy Medical Ce,355,Bard Ave,Staten Island,NY,250.0,250.0
4,"Adams, Eric L",8/15/2024,NaN,"Achille, Carl",Alden Manor,NY,11003,Sergeant,New York City Police Departmen,8,Catherine Court,Alden Manor,NY,250.0,0.0

In [7]:
all_candidates.to_csv('../output/all_candidates_raw.csv')