In [1]:
import pandas as pd

In [2]:
stringer = pd.read_csv('../data/CFB_stringer.csv')

In [3]:
stringer = stringer[['RECIPNAME', 'DATE', 'REFUNDDATE', 'NAME', 'CITY', 'STATE', 'ZIP', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME', 'EMPCITY', 'EMPSTATE', 'AMNT', 'MATCHAMNT']]

In [4]:
stringer[stringer.duplicated(['NAME'], keep=False)]

,RECIPNAME,DATE,REFUNDDATE,NAME,CITY,STATE,ZIP,OCCUPATION,EMPNAME,EMPSTRNO,EMPSTRNAME,EMPCITY,EMPSTATE,AMNT,MATCHAMNT
2,"Stringer, Scott M",8/31/2024,NaN,"Abate, Liam",Astoria,NY,11104,Bartender,Greenpoint Beer & Ale Company,1150,Manhattan Ave,Brooklyn,NY,5.0,5.0
3,"Stringer, Scott M",9/20/2024,NaN,"Abate, Liam",Astoria,NY,11104,Bartender,Greenpoint Beer & Ale Company,1150,Manhattan Ave,Brooklyn,NY,5.0,5.0
5,"Stringer, Scott M",8/2/2024,NaN,"Abramov, Theodore",New York,NY,10025,NaN,unemployed,NaN,NaN,NaN,NaN,10.0,10.0
6,"Stringer, Scott M",11/22/2024,NaN,"Abramov, Theodore",New York,NY,10025,NaN,unemployed,NaN,NaN,NaN,NaN,35.0,35.0
8,"Stringer, Scott M",10/5/2024,NaN,"Abuelo, Vivian",New York,NY,10033,Enrollment Coordinator,Weill Cornell Medical College,1305,York Ave,New York,NY,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3117,"Stringer, Scott M",1/7/2025,NaN,"Zerkin, Roger",Rego Park,NY,11374,unemployed,unemployed,NaN,NaN,NaN,NaN,50.0,50.0
3124,"Stringer, Scott M",10/4/2024,NaN,"Zhang, Jenny",New York,NY,10023,Finance,Goldman Sachs,201,W 72nd St,New York,NY,100.0,100.0
3125,"Stringer, Scott M",10/5/2024,NaN,"Zhang, Jenny",Flushing,NY,11354,NaN,retired,NaN,NaN,NaN,NaN,200.0,200.0
3133,"Stringer, Scott M",8/20/2024,NaN,"Zhang, Xiao",Bayside,NY,11360,Manager,Lucky Corona Inc,103-01,Roosevelt Ave,Flushing,NY,200.0,200.0
3134,"Stringer, Scott M",10/5/2024,NaN,"Zhang, Xiao",Whitestone,NY,11357,Manager,HR Management Group Inc,131-11,Fowler Avenue,Flushing,NY,250.0,0.0

In [5]:
stringer_clean = stringer.drop_duplicates(subset="NAME")

In [6]:
stringer_clean.to_csv('../output/stringer_clean.csv')